00memo-light-aligner.txt
start-venv.bat
libs-needed.txt
pip-list.txt
l.py
.venv
needed-libs.txt
quality-indicator.py
*/__pycache__
__pycache__
tests/__pycache__
light_aligner/__pycache__
.gitignore
*.egg-info
*.pyc
# https://github.com/github/gitignore/blob/master/Python.gitignore
dist/
build/
sdist/
*.manifest
*.spec
htmlcov/
.coverage.*
.cache
diskcache/
.ipynb_checkpoints
light_aligner/gen-row-alignment-etc-memo.txt
gen_userdict.py
mydialog.py
light_aligner/ga_ch.py
bk
hlm1.py
gh-pages-pull-memo.txt
.mypy_cache
.pytest_cache
lareload.py
tests/__pycache__
light_aligner.spec
poetry-run-pyinstaller.bat
light_aligner-files
diskcache-try.py
data\stardict-dict-de
german-lemma-pystardict-diskcache-try.py
de_tagger.pkl
ClassifierBasedGermanTagger.py
tiger_release_aug07.corrected.16012013.conll0
data/*.mdx
light_aligner/__pycache__
