00memo-light-aligner.txt
start-venv.bat
libs-needed.txt
pip-list.txt
l.py
.venv
needed-libs.txt
quality-indicator.py
*/__pycache__
__pycache__
tests/__pycache__
light_aligner/__pycache__
.gitignore
*.egg-info
*.pyc
# https://github.com/github/gitignore/blob/master/Python.gitignore
dist/
build/
sdist/
*.manifest
*.spec
htmlcov/
.coverage.*
.cache
diskcache/
.ipynb_checkpoints
